/* Background */

.create-job-page{
    min-height:100vh;
    background:#f5f5f5;
}

.create-job-card{
    background:#fff;
    padding:40px;
    border-radius:20px;
    box-shadow:0 20px 50px rgba(0,0,0,.08);
    transition:.3s;
}

.create-job-card:hover{
    transform:translateY(-5px);
}


.create-job-icon{
    width:80px;
    height:80px;
    margin:auto;
    background:#111;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:34px;
}

.premium-input{
    height:55px;
    border-radius:12px;
    border:1px solid #ddd;
    box-shadow:none;
    transition:.3s;
}

textarea.premium-input{
    height:auto;
    padding:15px;
}

.premium-input:focus{
    border-color:#111;
    box-shadow:0 0 0 4px rgba(0,0,0,.08);
}

.form-label{
    color:#222;
    margin-bottom:8px;
}


.create-job-btn{
    background:#111;
    color:#fff;
    border:none;
    border-radius:12px;
    height:58px;
    font-size:18px;
    font-weight:600;
    transition:.3s;
}

.create-job-btn:hover{
    background:#000;
    color:#fff;
    transform:translateY(-2px);
    box-shadow:0 15px 30px rgba(0,0,0,.2);
}