
.job-card{
    background:#ffffff;
    border-radius:18px;
    padding:25px;
    border:1px solid #ececec;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:all .3s ease;
    height:100%;
}

.job-card:hover{
    transform:translateY(-8px);
    box-shadow:0 18px 40px rgba(0,0,0,.15);
}


.job-title{
    font-size:24px;
    font-weight:700;
    color:#111;
    margin-bottom:5px;
}

.company-name{
    color:#666;
    font-size:16px;
    margin-bottom:0;
}


.job-info p{
    color:#555;
    margin-bottom:12px;
    font-size:15px;
}

.job-btn{
    background:linear-gradient(135deg,#111111,#333333);
    color:#fff !important;
    border:none;
    border-radius:10px;
    padding:12px;
    font-weight:600;
    transition:.3s;
}

.job-btn:hover{
    background:linear-gradient(135deg,#000,#222);
    color:#fff !important ;
    transform:translateY(-2px);
}


.badge{
    font-size:12px;
    padding:8px 12px;
    border-radius:30px;
}